<!DOCTYPE html>
<html>
<head>
  <title>Portales</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    <p>Hello <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %>
<% end %>
<%= yield %>

</body>
</html>
